
@{
    ViewBag.Title = "ConfirmSlot";
}

<div>
    <p>
        Your Safe shopping slot - <strong> 11:00 AM to 12:00 PM </strong> with the shop is successful. Please display the below  bar code at the shop.
        Thank you for choosing <strong> BlockNBuy </strong>.
</p>
    <img src="~/AdminLTE/dist/img/QR_Code.png" class="img-circle" alt="User Image">
</div>